@page
@model Vail_Engineering.Pages.wcha.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>WasteChapter</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="WasteChapter.Id" />
            <div class="form-group">
                <label asp-for="WasteChapter.WasteChapterCode" class="control-label"></label>
                <input asp-for="WasteChapter.WasteChapterCode" class="form-control" />
                <span asp-validation-for="WasteChapter.WasteChapterCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WasteChapter.WasteChapterDescription" class="control-label"></label>
                <input asp-for="WasteChapter.WasteChapterDescription" class="form-control" />
                <span asp-validation-for="WasteChapter.WasteChapterDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
